
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="row">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h2>Access Denied</h2>
        </div>
        <div class="panel-body">
            You are not allowed to access that resource.
        </div>
    </div>
</div>

