@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>Brown Chocolate<span data-product="1" class="glyphicon glyphicon-plus-sign pull-right add-to-cart"></span></h2>

            </div>
            <div class="panel-body">
                <img src="~/images/Brown.jpg" class="img-responsive img-rounded" />
                <small><a href="https://commons.wikimedia.org/wiki/File:Schokolade-braun.jpg">https://commons.wikimedia.org/wiki/File:Schokolade-braun.jpg</a></small>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>Dark Chocolate<span data-product="2" class="glyphicon glyphicon-plus-sign pull-right add-to-cart"></span></h2>
            </div>
            <div class="panel-body">
                <img src="~/images/Dark.jpg" class="img-responsive img-rounded" />
                <small><a href="https://commons.wikimedia.org/wiki/File:Schokolade-schwarz.jpg">https://commons.wikimedia.org/wiki/File:Schokolade-schwarz.jpg</a></small>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>White Chocolate<span data-product="3" class="glyphicon glyphicon-plus-sign pull-right add-to-cart"></span></h2>
            </div>
            <div class="panel-body">
                <img src="~/images/White.jpg" class="img-responsive img-rounded" />
                <small><a href="https://commons.wikimedia.org/wiki/File:Schokolade-weiss.jpg">https://commons.wikimedia.org/wiki/File:Schokolade-weiss.jpg</a></small>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>VIP package<span data-product="4" class="glyphicon glyphicon-plus-sign pull-right add-to-cart"></span></h2>
            </div>
            <div class="panel-body">
                <img src="~/images/VIP.jpg" class="img-responsive img-rounded" />
                <small><a href="https://commons.wikimedia.org/wiki/File:Kuchen_im_Schokoladenmuseum_K%C3%B6ln_09.JPG">https://commons.wikimedia.org/wiki/File:Kuchen_im_Schokoladenmuseum_K%C3%B6ln_09.JPG</a></small>
            </div>
        </div>
    </div>
</div>

<script src="~/js/oidc-client.js"></script>